<div class="animated fadeIn ae-grid au-xs-ta-center au-mb-4">
    <div *ngFor="let persona of infoService.equipo" class="ae-grid__item item-lg-4 ae-kappa au-mb-3">
        <img
            [src]="persona.url" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">{{persona.nombre}}</h5>
        <p class="ae-u-bolder au-mb-3">{{persona.cargo}}</p>
        <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{persona.descripcion}}

        </p><a href="#0" class="ae-u-bolder au-underline">{{persona.correo}}</a>
    </div>

</div>
<div class="ae-grid au-pt-2">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
        <h4 class="ae-u-bolder">Abogados Caballero</h4>
        <p>Reconociendo que las instituciones trascienden a las personas que las integran, estamos convencidos que el
            desarrollo
            profesional de nuestros abogados es indispensable para garantizar la calidad de los servicios que prestamos,
            así como
            para fortalecer la vigencia, continuidad y proyección del Despacho.

            Nuestra vocación por el desarrollo profesional de los miembros del Despacho se sustenta en la convicción de
            ser
            responsables del firme y sostenido crecimiento de nuestro personal. Promovemos un entorno laboral que
            fomente nuestra
            cultura y espíritu de trabajo, y que con la debida supervisión de los socios permita a los miembros de
            nuestro equipo
            involucrase activamente y de manera progresiva en proyectos cada vez más sofisticados y demandantes.

            En la motivación y preparación de nuestro equipo radica la solidez de su crecimiento profesional y a la vez,
            el impulso
            en la evolución ordenada del Despacho.</p>
    </div>
</div>
<div class="ae-grid ae-grid--alt au-xs-ptp-1">
    <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Misión</h6>
        <p class="au-lh-3">Atender a nuestros clientes en un ambiente de confianza de manera respetuosa, amable y
            oportuna, reconociéndolos como
            las personas más importantes en nuestro trabajo, estableciendo un canal de comunicación con ellos para
            mantenerlos
            informados del avance, dificultades, logros y expectativas de los asuntos encomendados.

        </p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Visión</h6>
        <p class="au-lh-3">Somos un Bufete Jurídico especializado en Derecho Laboral, que se distingue por brindar al
            cliente una atención de alta
            calidad humana y profesional, capaz de responder a sus expectativas, así como las de los que lo integramos,
            para
            considerarlo el mejor lugar para desarrollar y aplicar nuestros potenciales personales y profesionales, que
            nos brinde
            la oportunidad de alcanzar nuestras aspiraciones humanas y económicas.
            <br>

        </p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Valores</h6>
        <p class="au-lh-3">

            Crecimiento. Creemos que con el desarrollo eficiente de nuestro trabajo, nuestro estudio y preparación
            constante,
            mejoramos nuestras cualidades humanas, que nos permiten ver en forma optimista el crecimiento de nosotros
            como personas,
            de nuestros clientes y de Peru como nación.
        </p>

    </div>
</div>
<p class="au-flex au-pt-4 group-buttons"><a href="portfolio.html"
        class="au-mt-4 arrow-button arrow-button--right arrow-button--out">Volver al inicio<span class="arrow-cont">
            <svg>
                <use xlink:href="assets/img/symbols.svg#arrow"></use>
            </svg></span></a></p>