<section *ngIf="producto">
    <header [ngStyle]="{'background-image':'url(assets/productos/'+ id +'/main.jpg)'}"
        class="animated fadeIn rk-portfolio-cover  item-inside-1">
        <div class=" item-inside__meta">
            <h1 class="ae-u-bolder rk-portfolio-title ">{{producto.producto}}</h1>
            <p class="ae-theta rk-portfolio-category ">{{producto.categoria}}</p>
        </div>
    </header>
    <div class="ae-container-fluid">
        <div class="ae-grid ae-grid--collapse rk-portfolio-info ">
            <div class="ae-grid__item item-lg-8 item-sm--center au-xs-ta-center au-lg-ta-left">
                <h2 class="rk-portfolio-inner-title ">{{producto.subtitulo1}}</h2>
            </div>
            <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right rk-portfolio-details">
                <p class="rk-portfolio-inner-client "><span class="ae-lambda">Socio: </span><span
                        class="ae-u-bolder">Antoni
                        Caballero Torres</span></p>
                <p class="au-underline rk-portfolio-inner-website "><a href="#0"
                        class="ae-kappa">www.agencydesign.com</a>
                </p>
                <p class="ae-kappa ae-u-bold rk-portfolio-inner-date ">12 August, 2010</p>
            </div>
        </div>
    </div>
    <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
        <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
            <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
                <h4 class="ae-u-bolder">{{producto.subtitulo2}}</h4>
                <p class="ae-eta">
                    {{producto.resumen}}

                </p>
                <p class="ae-eta">

                </p>
            </div>
            <div class="ae-grid__item item-lg-6 item-lg--offset-1">
                <img src="assets/productos/{{id}}/pic-1.jpg" alt="Urku Portfolio">
            </div>
        </div>
        <div class="ae-grid ae-grid--collapse">
            <div class="ae-grid__item item-lg-8">
                <img src="assets/productos/{{id}}/pic-2.jpg" alt="Urku Portfolio">
            </div>
            <div class="ae-grid__item item-lg-3 item-lg--offset-1 au-lg-ptp-1">
                <h4 class="ae-u-bolder">{{producto.subtitulo2}}</h4>
                <p>{{producto.desc2}}

                </p>

                <p class="ae-u-bolder">Abogados Caballero </p>
            </div>
        </div>
        <div class="ae-grid ae-grid--collapse au-xs-ptp-1 au-xs-pbp-1">
            <div class="ae-grid__item item-lg-8 item-lg--offset-2">
                <h4 class="ae-u-bolder">{{producto.subtitulo2}}</h4>
                <p class="ae-eta">{{producto.desc2}}
                </p>

            </div>
        </div>

        <div class="ae-grid--alt test">
            <div
                class="ae-grid__item--alt item-sm--auto item-sm--offset-1 item-lg--offset-0 item-sm--end item-sm--bottom">
                <div class="ae-grid ae-grid--alt8 au-xs-ta-center au-sm-ta-left">
                    <div class="ae-grid__item--alt8 item-lg-6"><span class="ae-u-boldest">1.</span>
                        <p class="au-mt-1">
                            ENFOQUE
                            Reconocemos el carácter dinámico y cambiante de la economía y los mercados, y por ello nos
                            actualizamos
                            y capacitamos
                            constantemente para mantenernos a la vanguardia; proporcionando soluciones creativas e
                            innovadoras en
                            nuestras áreas de
                            práctica.
                        </p><span class="ae-u-boldest">2.</span>
                        <p class="au-mt-1">
                            NUESTRO ENFOQUE
                            Enfocamos nuestros servicios en la atención de las necesidades estructurales y
                            estratégicas de nuestros
                            clientes.
                            Brindamos asesoría especializada en las áreas de práctica vinculadas con los negocios:
                            desde la organización y
                            mantenimiento de sus operaciones, hasta sus proyectos de crecimiento y consolidación.
                        </p>
                    </div>
                    <div class="ae-grid__item--alt8 item-lg-6"><span class="ae-u-boldest">3.</span>
                        <p class="au-mt-1">
                            COMPROMISO
                            Asumimos la responsabilidad de ser depositarios de la confianza de nuestros clientes y
                            velamos
                            celosamente por sus
                            intereses, para construir con ellos relaciones estables y duraderas. El servicio
                            profesional,
                            responsable y oportuno que
                            prestamos es el eje de nuestro Despacho. </p><span class="ae-u-boldest">4.</span>
                        <p class="au-mt-1">TRADICIÓN compromiso y tradición son nuestros principios rectores y nos han
                            permitido consolidarnos
                            como un despacho de primer nivel y alcance internacional.</p>
                    </div>
                </div>
            </div>
            <div class="ae-grid__item--alt item-sm--auto item-lg-3 item-lg--offset-1 item-lg--end"><img
                    src="assets/productos/{{id}}/main.jpg" alt="Urku Portfolio"></div>
        </div>
    </div>
    <div class="ae-container-fluid au-pt-4 au-pb-4">
        <div class="group-buttons"><a routerLink="blog" class="au-mt-2 arrow-button arrow-button--right">Volver al
                inicio<span class="arrow-cont">
                    <svg>
                        <use xlink:href="assets/img/symbols.svg#arrow"></use>
                    </svg></span></a></div>
    </div>
</section>